{% extends "./base.html" %}

{% block title %}Gestión de libros {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de libros</h2>
        <div class="card">
            <div class="card-body">
                <form action="/add_book/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCode" name="txtCode" class="form-control"
                        placeholder="Código" minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtName" name="txtName" class="form-control"
                        placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtCredits" name="txtCredits" class="form-control"
                        minlength="1" maxlength="129" value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de libros</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <th>No.</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Créditos</th>
                    <th colspan="2">Opciones</th>
                </thead>
                <tbody>
                    {% for b in books %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{b.code}}</td>
                        <td>{{b.name}}</td>
                        <td>{{b.credits}}</td>
                        <td>
                            <a href="/edit_book/{{b.code}}" class="btn btn-info text-white">Editar</a>
                            <a href="/delete_book/{{b.code}}" class="btn btn-danger">Eliminar</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}